<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Strona administratora</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">  


            <link rel="stylesheet" href="index.css">
                
                </head>

                <body>
                    <center>

                        <div class="toplane">
                            
                      
                            <h2>  Panel Administratora sklepu 
                                    <img src="https://cdn2.iconfinder.com/data/icons/pinpoint-interface/48/admin-512.png" width=50 height=50>
                                        </h2> 
                                       </div>
                        
                                            </br>


                                            <font style="font-size: 26px"> 
                                                <a href ="/wyswietl_pracownikow" class="badge badge-secondary"> Pracownicy </a> 

                                                <a href ="/dodaj_pracownika" class="badge badge-secondary">Dodawanie pracownikami </a>
                                                <br/>
                                            </font>

                                            <br/>


                                            <form method="POST" th:action="@{/logout}">         
                                                <input class="btn btn-info" type="submit" value="Wyloguj" />
                                            </form>

                                            </center>
                                            </body>
                                            </html>