<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Usuwanie osoby z bazy</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>       
    </head>
    <body>

        <h2> Usuwanie osoby z bazy:</h2>

        <form method="POST" th:object="${transData}">


            <br/>

            <input type="submit" value="Usuń Wszystkich Mezczyzn" />
            <br> 
                <a href="/index.html"> Strona główna </a> 

        </form>



    </body>
</html>


